%% -*- erlang -*-
{erl_opts, [fail_on_warning,
            debug_info]}.
{deps,
 [{meck, ".*",
   {git, "https://github.com/basho/meck.git", "HEAD"}},
  {statebox, ".*",
   {git, "https://github.com/mochi/statebox.git", "HEAD"}},
  {riakc, ".*",
   {git, "https://github.com/basho/riak-erlang-client.git", "HEAD"}}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
